<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6d55b7e0-420b-4b6c-b292-bb933dcf45d6/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/traffic-light-iot</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <ApiResourceId>/subscriptions/6d55b7e0-420b-4b6c-b292-bb933dcf45d6/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/proyectoiotserverapi/apis/proyectoiotserver</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://traffic-light-iot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>cf8e3c5e-fe5d-4c72-a014-8aa6a331b4d5</ProjectGuid>
    <MSDeployServiceURL>traffic-light-iot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>traffic-light-iot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$traffic-light-iot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>